scr/.vs/ConfArch.Web/DesignTimeBuild/.dtbcache.v2
scr/.vs/ConfArch.Web/v16/.suo
scr/ConfArch.Api/bin/Debug/netcoreapp3.1/ConfArch.Api.dll
scr/ConfArch.Api/bin/Debug/netcoreapp3.1/ConfArch.Api.pdb
scr/ConfArch.Api/obj/ConfArch.Api.csproj.nuget.dgspec.json
scr/ConfArch.Api/obj/project.assets.json
scr/ConfArch.Api/obj/project.nuget.cache
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.assets.cache
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.csproj.CoreCompileInputs.cache
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.csproj.FileListAbsolute.txt
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.csprojAssemblyReference.cache
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.dll
scr/ConfArch.Api/obj/Debug/netcoreapp3.1/ConfArch.Api.pdb
scr/ConfArch.Data/obj/ConfArch.Data.csproj.nuget.dgspec.json
scr/ConfArch.Data/obj/project.assets.json
scr/ConfArch.Data/obj/project.nuget.cache
scr/ConfArch.Data/obj/Debug/netstandard2.0/ConfArch.Data.assets.cache
scr/ConfArch.Data/obj/Debug/netstandard2.0/ConfArch.Data.csproj.FileListAbsolute.txt
scr/ConfArch.Data/obj/Debug/netstandard2.0/ConfArch.Data.csprojAssemblyReference.cache
scr/ConfArch.IdentityProvider/bin/Debug/netcoreapp3.1/ConfArch.IdentityProvider.dll
scr/ConfArch.IdentityProvider/bin/Debug/netcoreapp3.1/ConfArch.IdentityProvider.pdb
scr/ConfArch.IdentityProvider/bin/Debug/netcoreapp3.1/ConfArch.IdentityProvider.Views.dll
scr/ConfArch.IdentityProvider/bin/Debug/netcoreapp3.1/ConfArch.IdentityProvider.Views.pdb
scr/ConfArch.IdentityProvider/obj/ConfArch.IdentityProvider.csproj.nuget.dgspec.json
scr/ConfArch.IdentityProvider/obj/project.assets.json
scr/ConfArch.IdentityProvider/obj/project.nuget.cache
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.assets.cache
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.csproj.FileListAbsolute.txt
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.csprojAssemblyReference.cache
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.dll
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.pdb
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.Views.dll
scr/ConfArch.IdentityProvider/obj/Debug/netcoreapp3.1/ConfArch.IdentityProvider.Views.pdb
scr/ConfArch.Web/bin/Debug/netcoreapp3.1/ConfArch.Web.dll
scr/ConfArch.Web/bin/Debug/netcoreapp3.1/ConfArch.Web.pdb
scr/ConfArch.Web/bin/Debug/netcoreapp3.1/ConfArch.Web.Views.dll
scr/ConfArch.Web/bin/Debug/netcoreapp3.1/ConfArch.Web.Views.pdb
scr/ConfArch.Web/obj/ConfArch.Web.csproj.nuget.dgspec.json
scr/ConfArch.Web/obj/project.assets.json
scr/ConfArch.Web/obj/project.nuget.cache
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.assets.cache
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.csproj.CoreCompileInputs.cache
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.csproj.FileListAbsolute.txt
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.csprojAssemblyReference.cache
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.dll
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.pdb
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.Views.dll
scr/ConfArch.Web/obj/Debug/netcoreapp3.1/ConfArch.Web.Views.pdb
