scr/.vs/ConfArch.Web/DesignTimeBuild/.dtbcache.v2
scr/.vs/ConfArch.Web/v16/.suo
/scr/ConfArch.Web/obj
/scr/ConfArch.IdentityProvider/obj
/scr/ConfArch.Data/obj
/scr/ConfArch.Api/obj
/scr/ConfArch.Api/obj/
/scr/ConfArch.Web/bin/Debug/netcoreapp3.1
/scr/ConfArch.IdentityProvider/bin/Debug/netcoreapp3.1
/scr/ConfArch.Data/bin/Debug/netstandard2.1
/scr/ConfArch.Api/bin/Debug/netcoreapp3.1




